<div class="feedContainer">
    <!-- 
        To be shown when there's no content
    -->
    <div *ngIf="!posts || !posts.length; else feed">
        <h2>No content yet!</h2>

        <p class="pageCenter">
            Sorry, there's no feed content yet. Wanna <a routerLink="../create-posts">create some</a>?
        </p>

    </div>
    <ng-template #feed>
        <div id="feedContent">
            
            <div id="imageContainer">

                <img
                    id="currentImage"
                    class="center"
                    src="{{currentPost.image}}"
                >
                
            </div>
        </div>
        <div id="imageActions">
            <div id="ratingsContainer">
                <label>SHOULD I?</label>
                <!-- TODO: make buttons submit upon end of cache -->
                <button 
                    id="upvote"
                    value="Yes"
                    (click)="upvote()"
                >Yes, you should!</button>
                <button 
                    id="downvote"
                     value="No" 
                     (click)="downvote()"
                >No, you shouldn't!</button>
            </div>
            <div id="commentsContainer">
                <h3>Comments</h3>
                <form *ngIf="!hasCommented; else showMyComment" id="addComment">
                    <textarea cols="40" id="newComment" [(ngModel)]="newComment.content"></textarea>
                    <input type="submit" value="Post Comment" (click)="comment()">
                </form>
                <ng-template #showMyComment>
                    <div id="myComment">
                        {{newComment.content}}
                    </div>
                </ng-template>
            </div>
        </div>
        
    </ng-template>
</div>