<div class="feedContainer">
    <!-- 
        To be shown when there's no content
    -->
    <div *ngIf="!posts || !posts.length; else feed">
        <h2>No content yet!</h2>
        <p class="pageCenter">
            Sorry, there's no feed content yet. Wanna <a routerLink="../create-posts">create some</a>?
        </p>
        
    </div>
    <ng-template #feed>
        <div id="feedContent">
            
            <div id="imageContainer">
                <a *ngIf="postIndex > 0" id="prevImage" class="imageControl" (click)="prevImage()"><</a>
                <img
                    id="currentImage"
                    class="center"
                    src="{{currentPost.image}}"
                >
                <a *ngIf="postIndex < posts.length - 1" id="nextImage" class="imageControl" (click)="nextImage()">></a>
                
            </div>
            <label class="right">
                <b id="likes">{{currentPost.likes}}</b> likes <b id="dislikes">{{currentPost.dislikes}}</b> dislikes
            </label>
        </div>
        <div id="imageActions">
            <div id="ratingsContainer">
                <label>SHOULD I?</label>
                <button *ngIf="!hasUpvoted[postIndex]" id="upvote" value="Yes" (click)="upvote()">Yes, you should!</button>
                <button *ngIf="!hasDownvoted[postIndex]" id="downvote" value="No" (click)="downvote()">No, you shouldn't!</button>
            </div>
            <div id="commentsContainer">
                <h3>Comments</h3>
                <!-- TODO: provide functionality for this form -->
                <form id="addComment">
                    <textarea cols="40" id="newComment"></textarea>
                    <input type="submit" value="Post Comment">
                </form>
                <!-- if this post was made by the current user -->
                <div *ngIf="currentPost && currentPost.poster  && currentUser && currentPost.poster._id == currentUser._id" >
                    <!-- show this comments section -->
                    <div *ngFor="let comment of currentPost.comments">
                        <!-- TODO:  style this -->
                        <h4>{{comment.commenter}}</h4> 
                        <p>
                            {{comment.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </ng-template>
</div>