<div>
    Feed here...
    <div id="imageContainer">
        <a id="prevImage" class="imageControl"><</a>
        <img
            id="currentImage"
            src="../../../assets/images/SHOULDi-suit.png">
            <!-- hardcoded value for right now -->
        <a id="nextImage" class="imageControl">></a>

        
    </div>
    <span id="ratingsContainer" class="right">
        ratings here...
    </span>
    <div id="commentsContainer">
        comments here...
    </div>
    <!-- TODO: put some content in this -->
</div>