<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <!-- NOTE: whatever routerLinks you create here need to be added and handled properly in routing.ts -->
            <!-- TODO: create leaderboard component -->
            <li><a routerLink="leaderboard">Leaderboard</a></li>
            <!-- TODO: create feed component -->
            <li><a routerLink="feed">Feed</a></li>
            <!-- TODO: create favorites component -->
            <li><a routerLink="favorites">Favorites</a></li>
            <!-- TODO: create "my posts" component -->
            <li><a routerLink="my-posts">My Posts</a></li>
            <!-- TODO: create "create posts" component -->
            <li><a routerLink="create-posts">Create Posts</a></li>
            <!-- TODO: create "edit posts" component -->
            <li><a routerLink="edit-posts">Edit Posts</a></li>

        </ul>
    </div>
</nav>