ul {
    list-style: none;
    width: 100%;
    padding-left: 10px;
}

li {
    padding: 20px 10px;
}

.menuButton:hover{
    color: black !important;
    background-color: white !important;
}

.menuButton {
    font-family: Georgia;
    color: white;
    background-color: black;
    border-color: white;
    height: 30px;
    width: 110px;
    text-decoration: none;
}