/* You can add global styles to this file, and also import other style files */
.center
{
    margin-left: auto;
    margin-right: auto;
}

.textCenter
{
    text-align: center;
}

.pageCenter
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table
{
    display: table;
}

.tableRow
{
    display: table-row;
}

.tableCell
{
    display: table-cell;
}