<div>
    <h2 class="Popular Users">Popular Users</h2>
    <table *ngIf="popularUsers.length; else noPopularUsers">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email address</th>
                
                <!-- to be expanded upon -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of popularUsers">
                <td>{{user.email}}</td>
                <!-- also to be expanded upon -->
            </tr>
        </tbody>
    </table>
    <ng-template #noPopularUsers>
        <p class="pageCenter">
            No users have risen to fame yet. :( 
            Don't worry...give it time and some will get there!
        </p> 
    </ng-template>
</div>