<div>
    <h2 class="textCenter">Flagged Users</h2>
    <!-- TODO: fill this with the content for the "flagged comments screen" -->
    <table>
        <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>User Email</th>
                    
                    <!-- to be expanded upon -->
                </tr>
        </thead>
        <tbody>
            <!-- TODO: complete this template with angular directives -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <!-- also to be expanded upon -->
            </tr>
        </tbody>
    </table>
</div>