<div>
    <h2 class="textCenter">Flagged Users</h2>
    <!-- TODO: fill this with the content for the "flagged comments screen" -->
    <table *ngIf="flaggedUsers.length; else noFlaggedUsers">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email address</th>
                
                <!-- to be expanded upon -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of flaggedUsers">
                <td>{{user._id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <!-- also to be expanded upon -->
                <button (click)="lockUser()">Lock User</button>
                <button (click)="viewFlaggedPosts()">Flagged Posts</button>
                <button (click)="viewFlaggedComments(flaggedUser)">Flagged Comments</button>
            </tr>
        </tbody>
    </table>
    <flagged-comments *ngIf="flaggedUser" [user]="flaggedUser"></flagged-comments>
    <ng-template #noFlaggedUsers>
        <p class="pageCenter">
            There are currently no flagged users!
            
        </p> 
    </ng-template>
</div>