<nav>
    <button id="menuButton" (click)="toggleVisible()">
        <div id="menuText">Menu</div>
        <div id="menuBars">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </button>
    <img id="ribbon" src="../../../assets/images/SHOULDi-ribbon.png">
    <!-- TODO: event-bind this with the logout link -->
    <button id="logoutButton"><div id="logoutIcon"><div id="logoutImage"></div><div id='logoutText'>Logout</div></div></button>
</nav>
<div class="longBar"></div>

<menu *ngIf="visible"></menu>
<!-- <img id="logoutImage" src="../../../assets/images/SHOULDi-fedora.png"> -->