nav
{
	overflow: hidden;
    background-color: #999;
}

a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

.bar {
    background-color: white;
    height: 2px;
    width: 30px;
}

.bar + .bar {
    margin-top: 5px;
}

#menuButton
{
    float: left;
    margin-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

menu
{
    width: 110px;
    text-align: left;
    background-color: #999;
    padding: 0 !important;
    margin-top: 0;
    z-index: 1; /* does this need to be on top? */
    height: 100%;
    position: fixed;
}

#ribbon
{
    width: 125px;
}

#logoutButton
{
    float: right;
    margin-right: 20px;
}

#logoutButton img {
    width: 25px;
}