<div class="pageCenter">
    <h1 class="textCenter">Register New User</h1>
    <form (ngSubmit)="register()" >
        <span>
            <label for="firstName">first name</label>
            <input type="text" id="firstName" name="firstName" pattern="[A-Za-z]+" [(ngModel)]="model.firstName" required>
        </span>
        <span>
            <label for="lastName">last name</label>
            <input type="text" id="lastName" name="lastName" pattern="[A-Za-z]+" [(ngModel)]="model.lastName" required>
        </span>
        <span>
            <label for="userName">user name</label>
            <input type="text" id="userName" name="userName" pattern="\w+" [(ngModel)]="model.userName" required>
        </span>
        <span>
            <label for="password">password</label>
            <input type="password" id="password" name="password" [(ngModel)]="model.password" required>
        </span>
        <span>
            <label for="confirmPassword">confirm password</label>
            <input type="confirmPassword" id="confirmPassword" name="confirmPassword" [(ngModel)]="model.confirmPassword" required>
        </span>
        <span class="center">
            <button [disabled]="loading">Register</button>
        </span>
    </form>
</div>