.buttonRow, .buttonRow > *
{
    margin-top: 10px;
}

.tableRow > input{
    background: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
}

.tableCell > input{
    background: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
}

#isSponsor{
    padding-left: 10px;
    width: 20px;
    height: 20px;
}

#balance{
    background: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
}

#registerButton{
    background: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;   
}

#spacing{
    height: 5px;
}

#bigSpacing{
    height: 20px;
}