/* let's make sure every container element is horizontally separate from each other */
.myPostsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#myPostsContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#imageContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 550px;
    max-width: 550px;
    flex-grow: 2;
}

#imageActions {
    width      : 300px;
}

.imageControl
{
    /* Any .imageControl is to sit ON TOP of the image */
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    font-weight: bolder;
    cursor: pointer;
}

.imageControl:hover
{
    background-color: black;
    color : white;
}

#prevImage
{
    left: 10px;
}

#nextImage
{
    right: 10px;
}

.flagged
{
    opacity: 0.3;
}

#noPostsContent{
    min-height: 500px;
    width: 100%;
}

#noImageContainer{
    max-height: 250px;
    max-width: 250px;
}

#noContentImage{
    position: relative !important;
    max-height: 250px;
    max-width: 250px;
}



#currentImage{
    max-height: 500px;
    max-width: 500px;
}