<div>
    <h2 class="textCenter">Locked Users</h2>
    <!-- TODO: put content here -->
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>User Email</th>
                
                <!-- to be expanded upon -->
            </tr>
        </thead>
        <tbody>
            <!-- TODO: complete this template with angular directives -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <!-- also to be expanded upon -->
            </tr>
        </tbody>
    </table>
</div>